<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
    </header>
    <title>Aufgabe 10.1</title>

<body>

    <center>
    <script src="./js/vue.js"></script>
    <h2>Aufgabe 10.1 </h2>
    <div id="auf10">
          
           <li v-for="item in items" :key="item.id">

             <span>{{ item.message }}</span>
             <button v-on:click="item.count += 1" style="background-color: yellowgreen; width: 15%;">{{ item.count }}</button>
           </li>
           <li v-for="item in items2" :key="item.id">

            <span>{{ item.message }}</span>
            <button v-on:click="item.count -= 1"style="background-color: yellowgreen; width: 15%;">{{ item.count }}</button>
           </br>
            <span v-for="item in items3">{{item.message}}<p>:{{item.c++}}</p></span>
 
        </li>
         
     </div>

    </center>
        <script>
            new Vue({
                    el: '#auf10',
                    data: {
                        c: 0,
                        counter: 0,
                        items: [
                        { id: 1, message: 'Inkrement', count: 1 },
                        ],
                        items2: [
                        { id: 2, message: 'Dekrement', count: 1 },
                        ],
                        items3: [
                        { id: 3, message: 'you clicked :', c:0},
                        ]
                    },
            })
        </script>
        
        
</body>    
</html>